@model IEnumerable<SaaS__05.Models.SaaS__Entreprise__Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Contact entreprise</h2>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" >
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.SaaS__Entreprise.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Nom)</th>
                    <th>@Html.DisplayNameFor(model => model.Prenom)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Tel1)</th>
                    <th>@Html.DisplayNameFor(model => model.Tel2)</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaaS__Entreprise.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prenom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tel2)
                    </td>
                    <td>
                        @Html.ActionLink("Create", "Create") |
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_ }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_ }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_ })
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
    