@model SaaS__05.Models.SaaS__Fonctionnalite

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2>Create fonctionnalite</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>SaaS__Fonctionnalite</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ID____SaaS__Abonnement, "ID____SaaS__Abonnement", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="abonnement">
                @foreach (var std in ViewData["Abos"] as IList<SaaS__05.Models.SaaS__Abonnement>)
                {
                    <option>
                        @std.Title
                    </option>

                }
                @Html.ValidationMessageFor(model => model.ID____SaaS__Abonnement, "", new { @class = "text-danger" })
            </select>
        </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
